<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>《诗经》摘录</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="/asset/css/bulma-0.6.1.min.css">
    <link rel="stylesheet" href="/asset/css/home.css">
  </head>
  <body>
    <% include partials/head %>

    <section  id="poems" class="section">
      <% poems.forEach(function (chunk) { %>
        <div class="columns">
          <% chunk.forEach(function (poem) { %>
            <div class="column">
              <div class="card is-brief">
                <div class="card-content">
                  <p class="title">
                    <%= poem.body %>
                  </p>
                  <p class="subtitle">
                    <% poem.tags.forEach(function (tag) { %>
                      <a href="javascript:;">#<%= tag %></a>
                    <% }); %>
                  </p>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
      <% }); %>
    </section>

    <% include partials/foot %>

    <script src="/asset/js/home.js"></script>
  </body>
</html>
