<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered" style="font-family: STXihei;">
        <a href="/">《诗经》摘录</a>
      </h1>
    </div>
  </div>
  <div class="hero-foot">
    <nav class="tabs is-boxed is-centered">
      <div class="container">
        <ul>
          <li><a href="/">网站</a></li>
          <li><a href="/admin/poems">首页</a></li>
          <li><a href="/admin/poems/create">添加</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>
