<footer class="footer has-text-centered">
  <div class="container">
    <div class="content">
      <p>
        <a href="https://bulma.io/made-with-bulma/">
          <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
        </a>
      </p>
      <p>Designed by <a href="https://github.com/baooab" target="_blank">zhangbao</a>.</p>
    </div>
  </div>
</footer>
